.advnt {
  width: 100%;
  padding-top: 60px;

  &__list {
    @extend %list;
    display:flex;
    flex-direction: column;
    gap: 28px;
    text-align: center;
  }
  
  &__svg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  
    background-color: var(--icon-bg-color);
  }
  
  &__amount {
    margin-bottom: 16px;
  
    font-weight: 700;
    font-size: 36px;
    line-height: calc(44/36);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }
  
  &__desc {
    display: inline-block;
    width: 230px;

    font-weight: 700;
    font-size: 12px;
    line-height: 170%;
  }

}