.review {
  padding-top: 80px;
  padding-bottom: 40px;
  background-image: url(../images/mobile/background-m.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  @include media(tablet) {
    background-image: url(../images/tablet/background-t.png);
    padding-top: 100px;
    padding-bottom: 80px;
  }
  @include media(desktop) {
    background-image: url(../images/background.png);
    padding-top: 140px;
    padding-bottom: 100px;
  }
}

.slider {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-left: 0;

  &__list {
    @extend %list;
  }

  &__avatar {
    width: 85px;
    height: 85px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 32px;
  }

  &__text {
    max-width: 280px;
    min-height: 256px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;

    color: var(--main-text-color);
    background-color: var(--main-bodyBg-color);
    font-size: 12px;
    line-height: 2.6;
    border-radius: 10px;

    @include media(tablet) {
      min-width: 705px;
      min-height: 138px;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: 0.04em;
      line-height: 1.8;
    }

    @include media(desktop) {
      min-width: 968px;
      min-height: 138px;
      font-size: 16px;
      line-height: 1.9;
    }
  }

  &__text-box {
    width: 202px;
    @include media(tablet) {
      width: 545px;
    }
    @include media(desktop) {
      width: 750px;
    }
  }

  &__name {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 12px;

    @include media(tablet) {
      font-size: 16px;
      line-height: 1.9;
      margin-bottom: 32px;
    }
  }
}
