.reviews {
  padding-top: 80px;
  text-align: center;

  @include media(tablet) {
    padding-top: 60px;
  }
  @include media(desktop) {
    padding-top: 128px;
  }
}

.avatar-container {
  width: 85px;
  height: 85px;
  margin: 0 auto 32px;
  border-radius: 50%;
  overflow: hidden;
  @include media(tablet) {
    margin-bottom: 28px;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
}

.reviews__avatar {
  object-fit: cover;
  object-position: top;
  width: 100%;
  height: 100%;
}

.reviews__review {
  min-width: 280px;
  padding: 34px 39px;
  margin: 0 auto 30px;
  flex-grow: 1;

  font-size: 12px;
  line-height: 2.55;
  color: var(--main-text-color);

  background-color: var(--main-bodyBg-color);
  border-radius: 1rem;

  @include media(tablet) {
    padding: 29px 80px;
    margin-bottom: 32px;
    border-radius: 2.4rem;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.86;
  }

  @include media(desktop) {
    width: 968px;
    padding: 39px 109px;

    font-size: 16px;
  }
}

.reviews__meta {
  margin-bottom: 14px;

  color: var(--secondary-text-color);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.86;
  text-align: center;

  @include media(tablet) {
    font-size: 1.6rem;
    margin-bottom: 32px;
  }
}

.reviews__pagination {
  @extend %list;
  position: static;
  display: flex;
  justify-content: center;
  gap: 14px;
  span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;

    background-color: var(--main-bodyBg-color);
  }
}

.swiper-slide {
  height: auto;
}
