.gallery-reviews-bg {
  background-color: #ffffff;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 1070.26px;
  background-image: linear-gradient(
      to bottom,
      #84a178,
      #84a178 24px,
      transparent 24px
    ),
    url('../images/mobile/background-m.png');
  background-size: contain;

  @include media(tablet) {
    background-image: linear-gradient(
        to bottom,
        #84a178,
        #84a178 164px,
        transparent 164px
      ),
      url('../images/tablet/background-t.png');
    background-size: cover;
    min-height: 1122px;
  }

  @include media(desktop) {
    background-image: linear-gradient(
        to bottom,
        #84a178,
        #84a178 95px,
        transparent 95px
      ),
      url('../images/background.png');
    background-size: cover;
    min-height: 1110px;
  }
}

.gallery {
  &__list {
    @extend %list;
    background-color: #fcfcfc;
    border-radius: 7.5px;
    position: relative;
    overflow: hidden;

    @include media(tablet) {
      border-radius: 18px;
    }
    @include media(desktop) {
      max-width: 1013px;
      border-radius: 24px;
      margin: 0 auto;
    }
  }

  &__item {
    animation-name: gallery;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
}
.gallery__item:nth-child(n + 2) {
  position: absolute;
  top: 0;
}
.gallery__item:nth-child(2) {
  animation-delay: 5s;
}
.gallery__item:first-child {
  animation-delay: 10s;
}

@keyframes gallery {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
}
