.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  z-index: 10;
  padding-top: 12px;
  width: 100%;
  @include media (mobile){
    width: $container-width-mobile;
    padding-top: 14px;
  }
  @include media (tablet){
    width: $container-width-tablet;
    padding-top: 20px;
  }
  @include media (desktop){
    width: $container-width-desktop;
    padding-top: 8px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__svg {
    margin-right: auto;
    @include media (desktop){
      margin-right: 0;
    }
  }

  &__logo {
    width: 40px;
    height: 37px;
    @include media (mobile){
      width: 48px;
      height: 44px;
    }
    @include media (desktop){
      width: 60px;
      height: 65px;
    }
  }
  &__btn-burger {
    background-color: transparent;
    border: none;
    fill: var(--burger-menu-color);
    @include media (tablet){
      margin-right: 32px;
    }
    @include media (desktop){
      display: none;
    }
    &:hover, &:focus {
      fill: var(--nav-hover-color);
    }
  }

  &__btn {
    display: none;
    align-items: center;
    gap: 4px;
    padding-right: 36px;
    padding-left: 36px;

    @include media (tablet){
      display: flex;
    }
  }
}
.header-scroll {
  box-shadow: 0 5.34219px 20.0332px rgb(10 136 23 / 25%);
  background-image: linear-gradient(rgba(255,229,80,.737),rgba(156, 190, 143, 0.7));
  
  // var(--iceCream-imgBg-color);
  
}

.nav__list {
  @extend %list;
  display: none;
  @include media (desktop){
    opacity: 1;
    display: flex;
    gap: 28px;
  }
}
.nav__link {
  @extend %link;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(20/16);

    &:hover, &:focus {
      color: var(--nav-hover-color);
    }
}