.hero {
  position: relative;

  &__container {
    position: relative;
    padding-top: 70px;
    padding-bottom: 175px;

    @include media(mobile) {
      padding-bottom: 110px;
    }
    @include media(tablet) {
      padding-top: 104px;
      padding-bottom: 13px;
    }
    @include media(desktop) {
      padding-top: 118px;
      padding-bottom: 65px;
    }
  }
  &__title {
    margin-bottom: 32px;

    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 26px;
    line-height: calc(33 / 26);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @include media(mobile) {
      width: 247px;
    }
    @include media(tablet) {
      margin-bottom: 24px;
    }
    @include media(desktop) {
      width: 367px;
      font-size: 38px;
      line-height: calc(48 / 38);
      margin-bottom: 28px;
    }
  }
  &__word {
    font-size: 34px;
    line-height: 96.5%;
    @include media(desktop) {
      font-size: 38px;
    }
  }
  &__link {
    @extend %link;
  }
  &__btn {
    margin-right: 12px;
    margin-bottom: 19px;
    padding-right: 26px;
    padding-left: 26px;
    @include media(desktop) {
      margin-bottom: 32px;
      padding-right: 34px;
      padding-left: 34px;
    }
  }
  &__button {
    border: none;
    cursor: pointer;
    z-index: 3;

    color: var(--btn-border-color);
    background: rgba(0, 0, 0, 0);
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    text-decoration-line: underline;

    &:hover {
      color: var(--btn-hover-color);
    }
    &:focus {
      color: var(--btn-focus-color);
    }
  }
  &__container {
    position: relative;
  }
  &__picture {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: -20px;
    transform: translate(-50%);
    z-index: 1;
    animation: ice-cream-shadow-spawn 1s ease-in-out 1s forwards,
      ice-cream-shadow-flash 1s ease-in-out 2s infinite alternate;
    @include media(mobile) {
      left: 75%;
    }
    @include media(tablet) {
      bottom: 0;
    }
  }
}

.container-bgc {
  background: url(../images/mobile/left-point.png) 0 100%/110px 34px no-repeat,
    url(../images/mobile/right-point.png) 100% 100%/130px 48px no-repeat;
  @include media(tablet) {
    background: url(../images/tablet/left-point.png) 0 100%/110px 34px no-repeat,
      url(../images/tablet/right-point.png) 100% 100%/130px 48px no-repeat;
  }
  @include media(desktop) {
    background: url(../images/point.png) bottom/1200px 384px no-repeat;
  }
}

.hero__thumb {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
}

.hero-count {
  &__list {
    @extend %list;
    display: none;
    @include media(tablet) {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: end;
    }
  }
  &__number {
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 28px;
    line-height: calc(34 / 28);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @include media(desktop) {
      font-size: 46px;
      line-height: calc(56 / 46);
    }
  }
  &__desc {
    font-weight: 400;
    font-size: 8px;
    line-height: calc(10 / 8);
    @include media(desktop) {
      font-size: 14px;
      line-height: calc(17 / 14);
    }
  }
}

.hero-info {
  display: flex;
  align-items: center;
  gap: 32px;

  &__icecreams {
    display: none;
    animation: plate-rotate 20s linear infinite;
    @include media(tablet) {
      display: block;
      z-index: 2;
    }
  }
  &__text {
    display: none;
    @include media(tablet) {
      display: block;
      width: 139px;
      margin-bottom: 12px;

      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
    }
    @include media(desktop) {
      width: 200px;
      font-size: 14px;
    }
  }
  &__arrow {
    display: none;
    @include media(tablet) {
      display: block;
      fill: var(--main-text-color);
    }
    &:hover {
      fill: var(--nav-hover-color);
    }
  }
}

@keyframes plate-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes ice-cream-shadow-spawn {
  0% {
    filter: drop-shadow(0 0 #fcfcfc);
  }
  100% {
    filter: drop-shadow(0 0 40px #fcfcfc);
  }
}
@keyframes ice-cream-shadow-flash {
  0% {
    filter: drop-shadow(0 0 40px #fcfcfc);
  }
  100% {
    filter: drop-shadow(0 0 10px #fcfcfc);
  }
}
