.hero {
  position: relative;
  width: 100%;
  padding-top: 80px;
  @include media (mobile) {
    width: $container-width-mobile;
  }
  @include media (tablet) {
    width: $container-width-tablet;
  }
  @include media (desktop) {
    width: $container-width-desktop;
    padding-top: 110px;
  }

  &__container {
    position: relative;
    height: 400px;
    @include media (mobile) {
      height: 330px;
    }
    @include media (tablet) {
      height: 350px;
    }
    @include media (desktop) {
      height: 520px;
    }
  }

  &__title {
    margin-bottom: 32px;

    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 26px;
    line-height: calc(33/26);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    @include media (mobile) {
      width: 247px;
    }
    @include media (tablet) {
      margin-bottom: 24px;
    }
    @include media (desktop) {
      width: 367px;
      font-size: 38px;
      line-height: calc(48/38);
      margin-bottom: 28px;
    }
  }

  &__word {
    font-size: 34px;
    line-height: 96.5%;
    @include media (desktop){
      font-size: 38px;
    }
  }
  &__link{
    @extend %link;
  }
  &__btn {
    margin-right: 12px;
    margin-bottom: 19px;
    padding-right: 26px;
    padding-left: 26px;
        @include media (desktop){
          margin-bottom: 32px;
          padding-right: 34px;
          padding-left: 34px;
        }
  }
  &__button {
    border: none;
    cursor: pointer;
    z-index: 3;

    color: var(--btn-border-color);
    background: rgba(0, 0, 0, 0);
    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15/12);
    text-decoration-line: underline;
    
    &:hover {
      color: var(--btn-hover-color);
    }
    &:focus {
      color: var(--btn-focus-color);
    }
  }

  &__container {
    position: relative;
  }

  &__picture {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0px;
    transform: translate(-50%);
    z-index: 1;
    @include media (mobile) {
      left: 75%;
      bottom: 0px;
    }
  }

  &__point {
    position: absolute;
    bottom: 0;
    right: 4px;
    @include media (mobile) {
      right: 0;
    }
  }
}
.hero__thumb {
  display: flex;
  justify-content: space-between;
}
.hero-count__list {
  @extend %list;
  display: none;
  @include media (tablet){
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: end;
  }
}
.hero-count__number {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 28px;
  line-height: calc(34/28);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  @include media (desktop){
    font-size: 46px;
    line-height: calc(56/46);
  }
}
.hero-count__desc {
  font-weight: 400;
  font-size: 8px;
  line-height: calc(10/8);
  @include media (desktop){
    font-size: 14px;
    line-height: calc(17/14);
  }
}
.hero-info__container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.hero-info__icecreams {
  display: none;
    @include media (tablet) {
      display: block;
      z-index: 2;
    }

  }
.hero-info__text {
  display: none;
    @include media (tablet){
      display: block;
      width: 139px;
      margin-bottom: 12px;

      font-weight: 400;
      font-size: 12px;
      line-height: 140%;
    }
    @include media (desktop){
      width: 200px; 
      font-size: 14px;
    }
  }
.hero-info__arrow {
  display: none;
    @include media (tablet){
      display: block;
      fill: currentColor;
    }
}
.hero-title-1 {
  display: block;
  min-height: 68px;
  @include media (desktop) {
      min-height: 96px;
  }
}
