.modals {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 280px;
  padding: 28px;
  transition: transform 300ms linear;
  transform: translate(-50%, -45vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  border: 2px solid var(--btn-border-color);

  background-color: var(--main-text-color);

  &__title {
    color: var(--secondary-text-color);
    font-family: 'Seymour One';
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);

    @include media (tablet) {
      font-size: 20px;
      line-height: calc(28 / 20);
    }
  }
}