<section class="about container section" id="about">
  <span class="about__subtitle">tradition and love</span>
  <h2 class="about__title">how it’s made?</h2>
  <div class="about-flex-container">
    <div class="about__thumb">
      <div class="about-circle">
        <img
          srcset="
            ./images/mobile/cow-m.png  320w,
            ./images/tablet/cow-t.png  768w,
            ./images/cow.png          1200w
          "
          sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
          src="./images/mobile/cow-m.png"
          alt="grey cow"
          class="about-circle__img"
        />
      </div>
    </div>
    <div class="about__content">
      <p class="about__text">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </p>
      <p class="about__text">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </p>
      <p class="about__text">
        This is enough to choose ice cream and coffee for any mood!
      </p>
      <button
        type="button"
        class="button about__button btn-color"
        data-how-made-open
        aria-label="Open modal window"
      >
        Read more
        <svg width="12" height="12">
          <use href="./images/symbol-defs.svg#icon-btn-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
