<section class="advnt container section">
  <ul class="advnt__list">
    <li class="advnt__item">
      <div class="advnt__svg">
        <svg width="36" height="36">
          <use href="./images/symbol-defs.svg#icon-cow"></use>
        </svg>
      </div>
      <p class="advnt__amount">721</p>
      <p class="advnt__desc">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advnt__item">
      <div class="advnt__svg">
        <svg width="36" height="36">
          <use href="./images/symbol-defs.svg#icon-weight"></use>
        </svg>
      </div>
      <p class="advnt__amount">16kg</p>
      <p class="advnt__desc">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
    <li class="advnt__item">
      <div class="advnt__svg">
        <svg width="36" height="36">
          <use href="./images/symbol-defs.svg#icon-ice-crema"></use>
        </svg>
      </div>
      <p class="advnt__amount">84</p>
      <p class="advnt__desc">
        Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
      </p>
    </li>
  </ul>
</section>
