<section class="contacts container">
  <ul class="contacts__list">
    <li class="contcts__item">
      <p class="contacts__subtitle">Cafe</p>
      <p class="contacts__town contacts__text">Chicago</p>
      <p class="contacts__address contacts__text">
        10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
      </p>
      <div class="contacts__line"></div>
      <p class="contacts__day contacts__text">Monday - Friday</p>
      <p class="contacts__time contacts__text">06:00 AM - 10:00 PM</p>
      <p class="contacts__day contacts__text">Saturday - Sunday</p>
      <p class="contacts__time contacts__text">08:00 AM - 16:00 PM</p>
      <div></div>
      <a href="" class="contacts__tel contacts__text">+61(0) 383 766 284</a>
      <a href="" class="contacts__email contacts__text">noreply@envato.com</a>
    </li>
    <li class="contcts__item">
      <p class="contacts__subtitle contacts__text">Food Truck</p>
      <p class="contacts__town contacts__text">Los Angeles</p>
      <p class="contacts__address contacts__text">
        1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
      </p>
      <div class="contacts__line"></div>
      <p class="contacts__day contacts__text">Monday - Friday</p>
      <p class="contacts__time contacts__text">06:00 AM - 10:00 PM</p>
      <p class="contacts__day contacts__text">Saturday - Sunday</p>
      <p class="contacts__time contacts__text">08:00 AM - 16:00 PM</p>
      <div class="contacts__line"></div>
      <a href="" class="contacts__tel contacts__text">+61(0) 383 766 284</a>
      <a href="" class="contacts__email contacts__text">noreply@envato.com</a>
    </li>
    <li class="contcts__item">
      <p class="contacts__subtitle">Cafe</p>
      <p class="contacts__town contacts__text">New York</p>
      <p class="contacts__address contacts__text">
        726 Sterling Pl, Brooklyn, NY 11222, USA
      </p>
      <div class="contacts__line"></div>
      <p class="contacts__day contacts__text">Monday - Friday</p>
      <p class="contacts__time contacts__text">06:00 AM - 10:00 PM</p>
      <p class="contacts__day contacts__text">Saturday - Sunday</p>
      <p class="contacts__time contacts__text">08:00 AM - 16:00 PM</p>
      <div class="contacts__line"></div>
      <a href="" class="contacts__tel contacts__text">+61(0) 383 766 284</a>
      <a href="" class="contacts__email contacts__text">noreply@envato.com</a>
    </li>
  </ul>
  <button type="button">
    Our Locations
    <svg width="12" height="12">
      <use href="./images/symbol-defs.svg#icon-btn-arrow-right"></use>
    </svg>
  </button>
  <button type="button">
    Franchise
    <svg width="12" height="12">
      <use href="./images/symbol-defs.svg#icon-btn-arrow-right"></use>
    </svg>
  </button>
</section>
