<section class="contacts container" id="contacts">
  <ul class="contacts__list">
    <li class="contacts__item" data-aos="zoom-out-right">
      <p class="contacts__subtitle contacts__text">Cafe</p>
      <p class="contacts__town contacts__text">Chicago</p>
      <a href="" class="contacts__address contacts__text">
        10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
      </a>
      <div class="contacts__line"></div>
      <p class="contacts__day contacts__text">Monday - Friday</p>
      <p class="contacts__time contacts__text">06:00 AM - 10:00 PM</p>
      <p class="contacts__day contacts__text">Saturday - Sunday</p>
      <p class="contacts__time contacts__text">08:00 AM - 16:00 PM</p>
      <div class="contacts__line line-second"></div>
      <a href="" class="contacts__tel contacts__text">+61(0) 383 766 284</a>
      <a href="" class="contacts__email contacts__text">noreply@envato.com</a>
    </li>
    <li class="contacts__item" data-aos="zoom-in">
      <p class="contacts__subtitle contacts__text subtitle-food">FoodTruck</p>
      <p class="contacts__town contacts__text">Los Angeles</p>
      <a href="" class="contacts__address contacts__text">
        1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
      </a>
      <div class="contacts__line"></div>
      <p class="contacts__day contacts__text">Monday - Friday</p>
      <p class="contacts__time contacts__text">06:00 AM - 10:00 PM</p>
      <p class="contacts__day contacts__text">Saturday - Sunday</p>
      <p class="contacts__time contacts__text">08:00 AM - 16:00 PM</p>
      <div class="contacts__line line-second"></div>
      <a href="" class="contacts__tel contacts__text">+61(0) 383 766 284</a>
      <a href="" class="contacts__email contacts__text">noreply@envato.com</a>
    </li>
    <li class="contacts__item" data-aos="zoom-in-up">
      <p class="contacts__subtitle contacts__text">Cafe</p>
      <p class="contacts__town contacts__text">New York</p>
      <a href="" class="contacts__address contacts__text">
        726 Sterling Pl, Brooklyn, NY 11222, USA
      </a>
      <div class="contacts__line"></div>
      <p class="contacts__day contacts__text">Monday - Friday</p>
      <p class="contacts__time contacts__text">06:00 AM - 10:00 PM</p>
      <p class="contacts__day contacts__text">Saturday - Sunday</p>
      <p class="contacts__time contacts__text">08:00 AM - 16:00 PM</p>
      <div class="contacts__line line-second"></div>
      <a href="" class="contacts__tel contacts__text">+61(0) 383 766 284</a>
      <a href="" class="contacts__email contacts__text">noreply@envato.com</a>
    </li>
  </ul>
  <div class="contacts-button-thumb">
    <button
      type="button"
      class="button contacts__btn btn-color"
      data-location-open
    >
      Our Locations
      <svg width="12" height="12">
        <use href="./images/symbol-defs.svg#icon-btn-arrow-right"></use>
      </svg>
    </button>
    <button
      type="button"
      class="button contacts__button btn-transparent"
      data-franchise-open
    >
      Franchise
      <svg width="12" height="12">
        <use href="./images/symbol-defs.svg#icon-btn-arrow-right"></use>
      </svg>
    </button>
  </div>
</section>
