<section class="review container">
  <h2 class="visually-hidden">Customers review</h2>
  <div class="slider">
    <div class="slider__list">
      <img class="slider__avatar" src="./images/emily-review.jpg" alt="Emily" />
      <p class="slider__text">
        <span class="slider__text-box"
          >I love visiting your cafe. You prepare the most delicious ice cream
          in Los Angeles! In addition, you have beautiful serving, cozy
          atmosphere and polite staff.</span
        >
      </p>
      <p class="slider__name">Emily, Los Angeles</p>
    </div>
    <div class="slider__list">
      <img class="slider__avatar" src="./images/bryan-review.jpg" alt="Bryan" />
      <p class="slider__text">
        <span class="slider__text-box"
          >Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!</span
        >
      </p>
      <p class="slider__name">Bryan, New-York</p>
    </div>
    <div class="slider__list">
      <img class="slider__avatar" src="./images/diana-review.jpg" alt="Diana" />
      <p class="slider__text">
        <span class="slider__text-box"
          >Ice cream is my passion! I love your chocolate hazelnut ice cream!
          And I really like the excellent service - always served politely and
          quickly!</span
        >
      </p>
      <p class="slider__name">Diana, Chicago</p>
    </div>
  </div>
</section>
