<section class="footer container">
  <div>
    <div>
      <p>homemade ice cream made</p>
      <p>with passion</p>
    </div>
    <div>
      <ul>
        <li>
          <svg width="34" height="34">
            <use href="./images/symbol-defs.svg#icon-github"></use>
          </svg>
        </li>
        <li>
          <svg width="34" height="34">
            <use href="./images/symbol-defs.svg#icon-telegram"></use>
          </svg>
        </li>
        <li>
          <svg width="34" height="34">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </li>
      </ul>
      <a href=""><span>free to contact</span>+61 (0) 383 766 284</a>
    </div>
  </div>
  <div></div>
  <p>© 2022 - IceCream. All Rights Reserved.</p>
</section>
