<section class="gallery" id="gallery">
  <div class="container">
    <h2 class="visually-hidden">Gallery</h2>
    <ul class="gallery__list single-item">
      <li class="gallery__item">
        <img
          srcset="
            ./images/mobile/first-card-m.jpg  320w,
            ./images/tablet/first-card-t.jpg  768w,
            ./images/first-card-d.jpg        1200w
          "
          sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
          src="./images/mobile/first-card-m.jpg"
          alt="
          lots of ice cream cones with blueberries"
          class="gallery__img first-img"
        />
      </li>
      <li class="gallery__item">
        <img
          srcset="
            ./images/mobile/second-card-m.jpg  320w,
            ./images/tablet/second-card-t.jpg  768w,
            ./images/second-card-d.jpg        1200w
          "
          sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
          src="./images/mobile/second-card-m.jpg"
          alt="a lot of pink ice cream on the shelf"
          class="gallery__img second-img"
        />
      </li>
      <li class="gallery__item third-img">
        <img
          srcset="
            ./images/mobile/third-card-m.jpg  320w,
            ./images/tablet/third-card-t.jpg  768w,
            ./images/third-card-d.jpg        1200w
          "
          sizes="(min-width: 1200px) 1200px, (min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
          src="./images/mobile/third-card-m.jpg"
          alt="colorful ice cream cones"
          class="gallery__img"
        />
      </li>
    </ul>
  </div>
</section>
