<header class="header container">
  <div class="header__container">
    <div class="header__svg">
      <svg class="header__logo">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
      </svg>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">Home</li>
        <li class="nav__item">How it’s made?</li>
        <li class="nav__item">Our products</li>
        <li class="nav__item">Contact</li>
      </ul>
    </nav>
    <svg class="header__burger" width="32" height="32">
      <use href="./images/symbol-defs.svg#icon-eva_menu-fill"></use>
    </svg>
    <div class="header__thumb">
      <button type="button" class="button header__btn btn-color">
        Buy now
        <svg width="12" height="12">
          <use href="./images/symbol-defs.svg#icon-btn-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
