<header class="header container">
  <div class="header__container">
    <div class="header__svg">
      <svg class="header__logo">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
      </svg>
    </div>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="./index.html" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="#how-its-made" class="nav__link">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a href="#products" class="nav__link">Our products</a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link">Contact</a>
        </li>
      </ul>
    </nav>
    <button
      class="header__btn-burger js-open-menu"
      type="button"
      aria-controls="mobile-menu"
      aria-expanded="false"
    >
      <svg width="32" height="32">
        <use href="./images/symbol-defs.svg#icon-eva_menu-fill"></use>
      </svg>
    </button>
    <div class="header__thumb">
      <button
        type="button"
        class="button header__btn btn-color"
        data-modal-buy-now-open
      >
        Buy now
        <svg width="12" height="12">
          <use href="./images/symbol-defs.svg#icon-btn-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
