<div class="mobile js-menu-container">
  <div class="mobile-thumb">
    <svg class="header__logo">
      <use href="./images/symbol-defs.svg#icon-logo"></use>
    </svg>
    <button type="button" class="mobile__btn js-close-menu">
      <svg width="32" height="32">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <nav class="mobile__nav">
    <ul class="mobile__list">
      <li class="mobile__item">Home</li>
      <li class="mobile__item">How it’s made?</li>
      <li class="mobile__item">Our products</li>
      <li class="mobile__item">Contact</li>
    </ul>
    <button type="button" class="button mobile__button btn-color">
      Buy now
      <svg width="12" height="12">
        <use href="./images/symbol-defs.svg#icon-btn-arrow-right"></use>
      </svg>
    </button>
  </nav>
</div>
