<div class="backdrop is-hidden" data-location>
  <div class="modals modal-loc">
    <button type="button" class="close-button-modal" data-location-close>
      <svg width="20" height="20" class="modal-buy-now__svg">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-loc__title modals__title">Our Locations</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23540.423141723022!2d34.52696036587393!3d49.589803439197404!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d825e425e6ba6b%3A0xcf3e6bdfb9e4ca82!2z0J_QvtC70YLQsNCy0LAsINCf0L7Qu9GC0LDQstGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCAzNjAwMA!5e0!3m2!1sru!2sua!4v1675879230493!5m2!1sru!2sua"
      style="border: 0"
      class="modal-loc__iframe"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <a href="https://goo.gl/maps/ccxzRgEhHywhJZb99" class="modal-loc__link">
      <button class="button btn-color modal-loc__btn" type="button">
        Open map
      </button>
    </a>
  </div>
</div>
