<!-- Modal products of iceCream -->
<div class="backdrop is-hidden" data-icecream>
  <div class="modals modal-pro">
    <button type="button" class="close-button-modal" data-icecream-close>
      <svg width="20" height="20" class="modal-buy-now__svg">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-pro__title modals__title">Chololate icecream</h2>
    <div class="icon-wrap modal-icecream-circle">
      <div class="products-modal-icon modal-icecream-img"></div>
    </div>
    <ul class="modal-pro__list">
      <li class="modal-pro__link icecream-item">
        <p class="modal-pro__number icecream-numb">320</p>
        <p class="modal-pro__text">ckal</p>
      </li>
      <li class="modal-pro__link icecream-item">
        <p class="modal-pro__number icecream-numb">4g</p>
        <p class="modal-pro__text">Protein</p>
      </li>
      <li class="modal-pro__link icecream-item">
        <p class="modal-pro__number icecream-numb">8,2g</p>
        <p class="modal-pro__text">Fats</p>
      </li>
      <li class="modal-pro__link icecream-item">
        <p class="modal-pro__number icecream-numb">40,4g</p>
        <p class="modal-pro__text">Carbs</p>
      </li>
    </ul>
    <div class="thumb-inredients">
      <h3 class="thumb-inredients__title">Ingredients</h3>
      <ul class="thumb-inredients__list">
        <li class="thumb-inredients__link">
          Milk
          <span>100ml</span>
        </li>
        <li class="thumb-inredients__link">
          Belgian chocolate
          <span>20g</span>
        </li>
        <li class="thumb-inredients__link">
          Cream
          <span>150ml</span>
        </li>
        <li class="thumb-inredients__link">
          Cocoa powder
          <span>30g</span>
        </li>
        <li class="thumb-inredients__link">
          Sugar
          <span>40g</span>
        </li>
        <li class="thumb-inredients__link">
          Vanilla sugar
          <span>10g</span>
        </li>
      </ul>
    </div>
    <form
      name="buy-now_form"
      autocomplete="on"
      class="modal-buy-now__form form"
    >
      <label for="name">
        <input
          id="name"
          type="text "
          name="username"
          placeholder="Name"
          class="modal-buy-now__lable form__lable"
        />
      </label>
      <label for="tell">
        <input
          id="tell"
          type="tel"
          name="phone_number"
          placeholder="Phone"
          class="modal-buy-now__lable form__lable"
        />
      </label>
      <textarea
        name="feedback"
        rows="3"
        placeholder="Comment"
        class="modal-buy-now__lable form__lable"
      ></textarea>
      <button
        class="button btn-color modal-buy-now__button form__button"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
</div>

<!-- Modal procuct of coffe  -->
<div class="backdrop is-hidden" data-icecoffee>
  <div class="modals modal-pro">
    <button type="button" class="close-button-modal">
      <svg
        width="20"
        height="20"
        class="modal-buy-now__svg"
        data-icecoffee-close
      >
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-pro__title modals__title">Ice Coffee</h2>
    <div class="icon-wrap modal-coffee-circle">
      <div class="products-modal-icon modal-coffee-img"></div>
    </div>
    <ul class="modal-pro__list">
      <li class="modal-pro__link coffee-item">
        <p class="modal-pro__number coffee-numb">220</p>
        <p class="modal-pro__text">ckal</p>
      </li>
      <li class="modal-pro__link coffee-item">
        <p class="modal-pro__number coffee-numb">5g</p>
        <p class="modal-pro__text">Protein</p>
      </li>
      <li class="modal-pro__link coffee-item">
        <p class="modal-pro__number coffee-numb">6g</p>
        <p class="modal-pro__text">Fats</p>
      </li>
      <li class="modal-pro__link coffee-item">
        <p class="modal-pro__number coffee-numb">30g</p>
        <p class="modal-pro__text">Carbs</p>
      </li>
    </ul>
    <div class="thumb-inredients">
      <h3 class="thumb-inredients__title">Ingredients</h3>
      <ul class="thumb-inredients__list">
        <li class="thumb-inredients__link">
          Espresso
          <span>25g</span>
        </li>
        <li class="thumb-inredients__link">
          Milk
          <span>200ml</span>
        </li>
        <li class="thumb-inredients__link">
          Ice
          <span>100g</span>
        </li>
      </ul>
    </div>
    <form
      name="buy-now_form"
      autocomplete="on"
      class="modal-buy-now__form form"
    >
      <label for="name">
        <input
          id="name"
          type="text "
          name="username"
          placeholder="Name"
          class="modal-buy-now__lable form__lable"
        />
      </label>
      <label for="tell">
        <input
          id="tell"
          type="tel"
          name="phone_number"
          placeholder="Phone"
          class="modal-buy-now__lable form__lable"
        />
      </label>
      <textarea
        name="feedback"
        rows="3"
        placeholder="Comment"
        class="modal-buy-now__lable form__lable"
      ></textarea>
      <button
        class="button btn-color modal-buy-now__button form__button"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
</div>

<!-- Modal procuct of MilkShake  -->
<div class="backdrop is-hidden" data-milk>
  <div class="modals modal-pro">
    <button type="button" class="close-button-modal" data-milk-close>
      <svg width="20" height="20" class="modal-buy-now__svg">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-pro__title modals__title">Milkshake</h2>
    <div class="icon-wrap modal-milk-circle">
      <div class="products-modal-icon modal-milk-img"></div>
    </div>
    <ul class="modal-pro__list">
      <li class="modal-pro__link milk-item">
        <p class="modal-pro__number milk-numb">420</p>
        <p class="modal-pro__text">ckal</p>
      </li>
      <li class="modal-pro__link milk-item">
        <p class="modal-pro__number milk-numb">8g</p>
        <p class="modal-pro__text">Protein</p>
      </li>
      <li class="modal-pro__link milk-item">
        <p class="modal-pro__number milk-numb">10g</p>
        <p class="modal-pro__text">Fats</p>
      </li>
      <li class="modal-pro__link milk-item">
        <p class="modal-pro__number milk-numb">30.5g</p>
        <p class="modal-pro__text">Carbs</p>
      </li>
    </ul>
    <div class="thumb-inredients">
      <h3 class="thumb-inredients__title">Ingredients</h3>
      <ul class="thumb-inredients__list">
        <li class="thumb-inredients__link">
          Milk
          <span>350ml</span>
        </li>
        <li class="thumb-inredients__link">
          Ice Cream
          <span>80g</span>
        </li>
        <li class="thumb-inredients__link">
          Cream
          <span>50g</span>
        </li>
        <li class="thumb-inredients__link">
          Syrup Chololate
          <span>30g</span>
        </li>
        <li class="thumb-inredients__link">
          Cookies
          <span>20g</span>
        </li>
      </ul>
    </div>
    <form
      name="buy-now_form"
      autocomplete="on"
      class="modal-buy-now__form form"
    >
      <label for="name">
        <input
          id="name"
          type="text "
          name="username"
          placeholder="Name"
          class="modal-buy-now__lable form__lable"
        />
      </label>
      <label for="tell">
        <input
          id="tell"
          type="tel"
          name="phone_number"
          placeholder="Phone"
          class="modal-buy-now__lable form__lable"
        />
      </label>
      <textarea
        name="feedback"
        rows="3"
        placeholder="Comment"
        class="modal-buy-now__lable form__lable"
      ></textarea>
      <button
        class="button btn-color modal-buy-now__button form__button"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
</div>
