<div class="backdrop is-hidden" data-modal-buy-now>
  <div class="modal-buy-now header-modal modals">
    <button type="button" class="close-button-modal" data-modal-buy-now-close>
      <svg width="20" height="20" class="modal-buy-now__svg">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-buy-now__title modals__title">Buy now</h2>
    <ul class="modal-buy-now__list">
      <li class="modal-buy-now__item">
        <div class="modal__circle modal-circle-icecream"></div>
        <p class="modal-buy-now__text">ice cream</p>
      </li>
      <li class="modal-buy-now__item coffee-modal">
        <div class="modal__circle modal-circle-coffee"></div>
        <p class="modal-buy-now__text">ice coffee</p>
      </li>
      <li class="modal-buy-now__item milkshake-modal">
        <div class="modal__circle modal-circle-milkshake"></div>
        <p class="modal-buy-now__text">milkshake</p>
      </li>
    </ul>
    <form
      name="buy-now_form"
      autocomplete="on"
      class="modal-buy-now__form form"
    >
      <label for="name">
        <input
          id="name"
          type="text "
          name="username"
          placeholder="Name"
          class="modal-buy-now__lable form__lable"
        />
      </label>
      <label for="tell">
        <input
          id="tell"
          type="tel"
          name="phone_number"
          placeholder="Phone"
          class="modal-buy-now__lable form__lable"
        />
      </label>
      <textarea
        name="feedback"
        rows="3"
        placeholder="Comment"
        class="modal-buy-now__lable form__lable"
      ></textarea>
      <button
        class="button btn-color modal-buy-now__button form__button"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>
</div>
