<div class="backdrop is-hidden" data-location>
  <div class="modals modal-loc">
    <button type="button" class="close-button-modal" data-location-close>
      <svg width="20" height="20" class="modal-buy-now__svg">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-loc__title modals__title">Our Locations</h2>
    <img
      srcset="./images/mobile/map.jpg 320w, ./images/map.jpg 768w"
      sizes="(min-width: 768px) 768px, (min-width: 320px) 320px, 100vw"
      src="./images/mobile/map.jpg"
      alt="location in Poltava"
    />
    <a href="https://goo.gl/maps/ccxzRgEhHywhJZb99" class="modal-loc__link">
      <button class="button btn-color modal-loc__btn" type="button">
        Open map
      </button>
    </a>
  </div>
</div>
