<div class="backdrop is-hidden" data-how-made>
  <div class="modals modal-video">
    <button
      type="button"
      class="close-button-modal"
      aria-label="Close modal window"
      data-how-made-close
    >
      <svg width="20" height="20" class="modal-buy-now__svg">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modals__title modal-video__title">How it’s made?</h2>
    <iframe
      class="modal-video__iframe"
      src="https://www.youtube.com/embed/8WEMZ86Eho8"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p class="modal-fran__text">
      Our herd of small Jersey cows roam freely on our own farmland nearby,
      grazing on fresh pastures and giving us rich, creamy milk - perfect for
      making ice cream. Our ice cream is made with soul and heart. Everyone Our
      main goal: to make the best organic ice cream.
    </p>
  </div>
</div>
