<section class="products container" id="products">
  <span class="products__subtitle">100% natural</span>
  <h2 class="products__title">products</h2>
  <ul class="products__list">
    <li class="products__item">
      <div class="products__circle circle-icecream"></div>
      <div class="products-content__thumb">
        <h3 class="products__subject">ice cream</h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer.
        </p>
        <button type="button" class="products__button">
          <svg class="products__arrow" width="40" height="16">
            <use href="./images/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="products__item coffee">
      <div class="products__circle circle-coffee"></div>
      <div class="products-content__thumb">
        <h3 class="products__subject">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers.
        </p>
        <button type="button" class="products__button">
          <svg class="products__arrow" width="40" height="16">
            <use href="./images/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </li>
    <li class="products__item milkshake">
      <div class="products__circle circle-milkshake"></div>
      <div class="products-content__thumb">
        <h3 class="products__subject">milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice.
        </p>
        <button type="button" class="products__button">
          <svg class="products__arrow" width="40" height="16">
            <use href="./images/symbol-defs.svg#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</section>
