<section class="products container">
  <span class="products__subtitle">100% natural</span>
  <h2 class="products__title">products</h2>
  <!-- <ul class="products__list">
    <li class="products__item">
      <h3 class="products__subject">ice cream</h3>
      <p class="products__text">
        Soft ice cream with a delicate taste. Made with milk, cream, sugar and
        natural stabilizer.
      </p>
      <svg class="products__arrow" width="40" height="16">
        <use href="./images/symbol-defs.svg#icon-arrow"></use>
      </svg>
    </li>
  </ul>
  <ul>
    <li class="products__item">
      <h3 class="products__subject">ice coffee</h3>
      <p class="products__text">
        Fragrant invigorating drink created from 100% natural ingredients
        without the use of preservatives and flavor enhancers.
      </p>
      <svg class="products__arrow" width="40" height="16">
        <use href="./images/symbol-defs.svg#icon-arrow"></use>
      </svg>
    </li>
  </ul>
  <ul>
    <li class="products__item">
      <h3 class="products__subject">milkshakes</h3>
      <p class="products__text">
        Sweet drinks based on milk and ice cream, supplemented with syrups,
        fruits, berries and other sweets of your choice.
      </p>
      <svg class="products__arrow" width="40" height="16">
        <use href="./images/symbol-defs.svg#icon-arrow"></use>
      </svg>
    </li>
  </ul> -->
</section>
